name: test
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
on:
  pull_request: { types: [opened, reopened, synchronize, ready_for_review] }
  push: { branches: [ main ] }

jobs:
  unit-tests:
    permissions:
      contents: read
     uses: vapor/ci/.github/workflows/run-unit-tests.yml@main
     with:
       with_android: true
       with_release_mode_testing: true
       with_tsan: false
       with_musl: true
     secrets: inherit

  submit-dependencies:
    permissions:
      contents: write
    if: ${{ github.event_name == 'push' }}
    uses: vapor/ci/.github/workflows/submit-deps.yml@main
    secrets: inherit

